.Input {

    width: 100%;
    padding: 10px;
    display: block;
    float: left;
}

.Label {

    font-weight: normal;
    color: grey;
    display: block;
  /*  display: flex;
    align-items: flex-start; */
    padding: 6px 10px;
}


.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
  /*  width: 100%; */
    box-sizing: border-box;
}

.InputElement:focus {

    outline: none;
    background-color: #eaeaea;
}


.Invalid {

    border: 1px solid red;
    /*background-color: rgb(182, 116, 116) */

}   
 .ValidationError {
    color: red;
    margin: 5px 0;
    cursor: not-allowed;
} 